// sidebar
$menuText:#585858;
$menuActiveText:#266cad;
$subMenuActiveText:#266cad; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#F8F8F8;
$menuHover:#FFFFFF;

$subMenuBg:#F1F1F1;
$subMenuHover:#FFFFFF;

$sideBarWidth: 210px;

// appMain
$mainBg: #fafafa;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  mainBg: $mainBg;
}
